<template>
  <main>
    <div class="max-w-7xl mx-auto py-3 sm:px-6 lg:px-8">
      <div class="px-4 py-6 sm:px-0">
        <div class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <Me/>
          <hr class="my-24">
          <Timeline/>
          <hr class="my-12 pt-12 md:my-24 md:pt-48">
          <Contact />
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Me from "../components/Me.vue"
import Timeline from "../components/Timeline.vue"
import Contact from "../components/Contact.vue"

export default {
  components: {
    Me,
    Timeline,
    Contact
  },
};
</script>
