<template>
  <section class="relative py-20">
    <div class="container mx-auto px-4">
      <div
        v-for="project in projects"
        :key="project.name"
        class="items-center flex flex-wrap"
      >
        <hr class="w-full my-12" />
        <router-link
          target="_blank"
          class="w-full md:w-4/12 ml-auto mr-auto px-16 flex-auto"
          :to="`//${project.previewUrl}`"
        >
          <h2 class="text-2xl g-tight leading-6 font-bold text-gray-900 sm:text-3xl sm:leading-none md:text-4xl py-12 text-center">
            <span class="text-blue-600 underline hover:text-blue-500">{{ project.name }}</span>
          </h2>

          <div>
            <img
              :alt="project.name"
              :src="project.image"
              class="w-full rounded-lg shadow-lg border-2 border-blue-600 hover:border-blue-800 hover:shadow-2xl transition duration-500 ease-in-out"
            />
          </div>
        </router-link>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <h3 class="text-3xl font-semibold">{{ project.title }}</h3>
            <p class="mt-4 text-lg leading-relaxed text-gray-600">
              {{ project.description }}
            </p>
            <ul class="list-none mt-6">
              <li
                v-for="(stack, index) in project.stack"
                :key="index"
                class="py-2"
              >
                <div class="flex items-center">
                  <div>
                    <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blue-600 bg-pink-200 mr-3">
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-gray-600">{{ stack }}</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    projects: [
      {
        name: "Skilleyes",
        company: {
          name: "Bluebox GmbH",
          image: "/img/logo/bluebox.png",
          url: "",
        },
        description: `Mit der Skilleyes AR-Brille erhält der Anwender ein Werkzeug,
        welches jederzeit und überall mit einem Smartphone betrieben werden kann.
        Es wird nur eine Internetverbindung benötigt. Digitale Inhalte finden Ihren Weg in die reale Umgebung,
        gesteuert durch den Kundensupport dem Operator.`,
        image: "/img/skilleyes_preview.png",
        previewUrl: "youtube.com/watch?v=5S31W06UTqo",
        stack: [
          "Laravel",
          "PHP",
          "Nginx",
          "JavaScript",
          "Vue",
          "Socket.io",
          "WebRTC",
        ],
      },
      {
        name: "Skillreader",
        company: {
          name: "Global IOT",
          image: "/img/logo/globaliot.png",
          url: "",
        },
        description: `Die SkillReader App ist ein simples Tool um analoge Medien mit interaktiven digitalen Inhalten auszusatten. 
        Schulungsunterlagen, Broschüren oder Handbücher werden mit der App zu echten Hinguckern.`,
        image: "/img/skillreader_preview.jpg",
        previewUrl: "youtube.com/watch?v=6Iz881BGCIo",
        stack: [
          "Laravel",
          "PHP",
          "Nginx",
          "JavaScript",
          "Vue",
          "Socket.io",
          "WebRTC",
        ],
      },
      {
        name: "Matthias Film DVD-Generator",
        company: {
          name: "Bluebox GmbH",
          image: "/img/logo/bluebox.png",
          url: "",
        },
        description: `Erstelle Sie mit diesem Tool Ihre Video DVD, die dazu passenden HTML 5 
        Seite oder eine kombination aus beiden, die WebDVD.`,
        image: "/img/mfvod_preview.png",
        previewUrl: "matthias-film.de",
        stack: [
          "Laravel",
          "PHP",
          "jQuery",
          "DVDBuilder SDK",
          "FFmpeg",
          "ImageMagick",
          "MySQL",
          "Windows IIS Server",
        ],
      },
      {
        name: "GameCounter / Open source",
        description: `WebApp and API to create a page which shows upcoming avaiable 
        games using NextJS in the frontend and ExpressJS in the backend.`,
        image: "//source.unsplash.com/random/600x336",
        previewUrl: "gamecounter.io",
        stack: [
          "React",
          "NextJS",
          "Material UI",
          "MongoDB",
          "Mongoose",
          "Express",
          "SSG & SSR",
        ],
      },
      {
        name: "AGEBO",
        description: `Create and share Age of Empire 2 builds.`,
        image: "//source.unsplash.com/random/600x336",
        previewUrl: "agebo.io",
        stack: ["tailwind", "VueJS"],
      },
    ],
  }),
};
</script>
