<template>
  <div class="flex flex-wrap justify-center lg:-mt-64">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-grey-500 border-2 border-blue-500">
        <div class="flex-auto p-5 lg:p-10">
          <h2 class="text-2xl font-semibold text-gray-500 text-center">
            Contact me!
          </h2>
          <div class="relative w-full mb-3 mt-5">
            <label
              class="block uppercase text-gray-500 text-xs font-bold mb-2"
              for="full-name"
            >Full Name
            </label>
            <input
                id="full-name"
                type="text"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full border-2 border-blue-100"
                placeholder="Full Name"
                style="transition: all 0.15s ease 0s;"
            />
          </div>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-500 text-xs font-bold mb-2"
              for="email"
            >Email
            </label>
            <input
                id="email"
                type="email"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full border-2 border-blue-100"
                placeholder="Email"
                style="transition: all 0.15s ease 0s;"
            />
          </div>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-500 text-xs font-bold mb-2"
              for="message"
            >Message</label>
            <textarea
                id="message"
                rows="4"
                cols="80"
                class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full border-2 border-blue-100"
                placeholder="Type a message..."
                spellcheck="false"
            ></textarea>
          </div>
          <div class="text-center mt-6">
            <button aria-label="send message"
                    class="bg-blue-500 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 transition-all duration-150 ease-in"
                    type="button"
            >
              Send message
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    fullName: "",
    email: "",
    message: "",
  }),
};
</script>
