<template>
  <div class="bottom-0 bg-gray-50">
    <hr class="border-b m-0" />
    <footer class="p-4 text-center text-gray-500">
      <h3>Umut Tufanoglu</h3>
    </footer>
  </div>
</template>

<script>
export default {};
</script>
