<template>
  <div class="sm:text-center lg:text-left">
    <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-blue-400 sm:text-5xl sm:leading-none md:text-6xl">
      Hi my name is
      <br class="xl:hidden"/>
      <span class="text-blue-500 underline hover:text-blue-600">Umut Tufanoglu</span>
    </h2>
    <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
      I'm a full-stack web developer.<br/>
      Check out my
      <router-link
          to="/projects"
          class="text-blue-600 underline hover:text-blue-500">projects
      </router-link>
      Feel free to
      <a href="mailto:28development@gmail.com"
         target="_blank"
         class="text-blue-600 underline hover:text-blue-500"
      >
        contact me
      </a>
    </p>
    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
      <div class="rounded-md shadow">
        <a href="mailto:28development@gmail.com"
           target="_blank"
           class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10"
        >
          Contact me
        </a>
      </div>
      <div class="mt-3 sm:mt-0 sm:ml-3">
        <router-link
            to="/projects"
            class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-blue-700 bg-blue-100 hover:text-blue-600 hover:bg-blue-200 focus:outline-none focus:shadow-outline focus:border-blue-300 transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10"
        >
          My Projects
        </router-link>
      </div>
    </div>
  </div>
</template>
