<template>
  <section class="timeline">
    <ul ref="timeline">
      <li v-for="(item, index) in items"
          :key="index"
          class="bg-blue-600 list-none relative w-1 m-0 m-auto"
      >
        <div class="w-48 invisible opacity-0 transition-all duration-500 ease-in-out relative bottom-0 px-5 py-5 text-gray-500 rounded border-2 border-blue-600">
          <time class="block text-2xl font-bold mb-2 text-gray-600">{{ item.time }} - {{ item.company.name }}</time>
          <span class="w-full flex items-center py-3">
            <p class="text-base leading-6 font-medium text-indigo-600 py-1 inline-block">
              {{ item.title }}
            </p>
            <img class="object-scale-down w-32 ml-auto" :src="item.company.logo" :alt="item.title"/>
          </span>
          {{ item.body }}
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        time: 2014,
        title: "Internship - Webdesign",
        company: {
          name: "Zugpferd Werbe- und Produktionsagentur",
          logo: "/img/logos/zugpferd.jpg",
        },
        thumbnail: "",
        body: `Your advertising agency in the Sauerland for all print and web projects as well as production.`,
      },
      {
        time: "2014-2017",
        title: "Apprenticeship - Software Developer",
        company: {
          name: "blueBOX GmbH",
          logo: "/img/logos/bluebox.png",
        },
        thumbnail: "",
        body: `BlueBOX GmbH is the service provider for film, web and app, holography, studio, video mapping,
        e-commerce, web development, 3D, 360, Google Cardboard, 3D animation, VFX - your production in expert hands.`,
      },
      {
        time: "2014-2019",
        title: "Fullstack Developer",
        company: {
          name: "blueBOX GmbH",
          logo: "/img/logos/bluebox.png",
        },
        thumbnail: "",
        body: `BlueBOX GmbH is the service provider for film, web and app, holography, studio, video mapping,
        e-commerce, web development, 3D, 360, Google Cardboard, 3D animation, VFX - your production in expert hands.`,
      },
      {
        time: "2019-2020",
        title: "Fullstack Developer",
        company: {
          name: "Global IoT GmbH",
          logo: "/img/logos/globaliot.png",
        },
        thumbnail: "",
        body: `With the Skilleyes AR glasses, the user receives a tool that can be used anywhere and anytime
         Smartphone can be operated. Only an internet connection is required. Digital content finds yours
         Path into the real environment, controlled by customer support for the operator.`,
      },
      {
        time: "2020",
        title: "Fullstack Developer",
        company: {
          name: "newcubator GmbH",
          logo: "/img/logos/nc.svg",
        },
        thumbnail: "",
        body: `newcubator is a software provider for digital services. We support you with experienced,
         agile development teams to achieve the corporate goals of our customers as quickly as possible.
         For this we use modern and future-proof web technologies.`,
      },
    ],
  }),

  mounted() {
    window.addEventListener("load", this.callbackFunc);
    window.addEventListener("resize", this.callbackFunc);
    window.addEventListener("scroll", this.callbackFunc);
    this.onUrlStateChange(this.callbackFunc());
  },

  methods: {
    onUrlStateChange(action) {
      const pushState = history.pushState;
      history.pushState = function () {
        pushState.apply(history, action);
        fireEvents('pushState', action);  // Some event-handling function
      };
    },

    isElementInViewport(el) {
      const rect = el.getBoundingClientRect();
      return (
          rect.top >= 200 &&
          rect.left >= 0 &&
          rect.bottom <=
          (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <=
          (window.innerWidth || document.documentElement.clientWidth)
      );
    },

    callbackFunc() {
      if(this.$refs.timeline) {
        for (let i = 0; i < this.$refs.timeline.children.length; i++) {
          if (this.isElementInViewport(this.$refs.timeline.children[i])) {
            this.$refs.timeline.children[i].classList.add("in-view");
          }
        }
      }
    },
  },
};
</script>

<style scoped>
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  width: 400px;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -16px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #2b6cb0 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -16px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #2b6cb0;
}

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #2b6cb0;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -16px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}
</style>
