<template>
  <div>
    <Navigation />
    <router-view/>
    <Footer />
  </div>
</template>

<script>
import {defineComponent} from 'vue'
import Navigation from './components/Navigation.vue'
import Footer from './components/Footer.vue'

export default defineComponent({
  components: {
    Navigation,
    Footer
  }
})
</script>
